<div class="header">
    <h1>Login Successfully</h1>
  </div>
  <br>
<a href="/users/logout">Logout</a>

<style> 
body {
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin: 5px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

a {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

a:active {
	transform: scale(0.95);
}

a:focus {
	outline: none;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 70%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
    .header {
      padding: 60px;
      text-align: center;
      background:  linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
      color:  linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
      font-size: 30px;
    }
    .content {padding:20px;}
</style>

